Contents:
background-image: url("/static/bg.png");
background-position: center;
background-repeat: no-repeat;
background-size:cover;
background-attachment: fixed;
color: whitesmoke;
font-family: "JetBrains Mono", monospace;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: #4b4b4b52;
border: 1px whitesmoke solid;
border-radius: 15px;
width: 30vw;
padding: 10px;
margin-top: 15vh;
margin-bottom: 15vh;
padding-bottom: 10px;
display:  flex;
flex-direction: column;
justify-content: center;
align-items:flex-start;
gap: 10px;
margin-left: 10%;
align-self: center;
background-color: #6C9DBA;
border: 1px black solid;
height: 35px;
border-radius: 5px;
font-size: 20px;
padding-left: 10px;
padding-right: 10px;
background-color: #4b4b4bc7;
border: 1px whitesmoke solid;
border-radius: 5px;
height: 30px;
width: 80%;
color: whitesmoke;
color: #848484;
margin-bottom: 0%;
background-color: #6C9DBA;
border-radius: 10px;
align-self: center;
padding-left: 40px;
padding-right: 40px;
color: black;
border: 1px black solid;
margin-top: 100px;
margin-bottom: 100px;
background-color: #4b4b4b52;
border: 1px whitesmoke solid;
border-radius: 15px;
width: 75vw;
padding: 10px;
height: 60vh;
overflow-x: hidden;
overflow-y: scroll;
display: flex;
justify-content:center;
align-items: flex-start;
text-align: center;
padding-bottom: 15px;
padding: 5px;
text-align: center;
width: 100%;
color: #88C3EF;
color: #E8638B;
color: #91F38F;
background:transparent;
width: 10px;
background:grey;
/* border-radius: 10px; */
background: #6C9DBA;
border-radius: 10px;
#form-box{
    width: 90vw;
}
#tables{
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #00000052;
    border: 1px whitesmoke solid;
    border-radius: 15px;
    width: 90vw;
    padding: 10px;
    height: 60vh;
    overflow-x: scroll;
    overflow-y: scroll;
    display: flex;
    justify-content:center;
    align-items: flex-start;
}
#tables table{
    padding-left: 110px;
}
#tables table td{
    padding: 10px;
}
